<html>

<head>
  <Title>WebSite Version</Title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="main">
  <div class="menu-bar">
  <ul>
    <li class="active"><a href="#"><i class="fa fa-home"></i>Home</a></li>
    <li><a href="#"><i class="fa fa-clone"></i>Learning</a></li>
    <li><a href="#"><i class="fa fa-user"></i>About Us</a>
        <div class="sub-menu-1">
            <ul>
              <li><a href="#">Our Team</a></li>
              <li><a href="#">Mangement</a></li>
              <li><a href="#">Expertise</a></li>
              <li><a href="#">HR</a></li>
              <li><a href="#">Clients</a></li>
            </ul>
        </div>
    
    </li>
    <li><a href="#"><i class="fa fa-angellist"></i>Service</a>
      <div class="sub-menu-1">
        <ul>
          <li class="hover-me"><a href="#"><i class="fa fa-angle-right"></i>Web Devlopment</a>
            <div class="sub-menu-2">
              <ul>
                <li><a href="#">Technologies & Frameworks</a></li>
                <li><a href="#">Architecture</a></li>
                <li><a href="#">UI & Microservice</a></li>
              </ul>
            </div></li>
          <li class="hover-me"><a href="#"><i class="fa fa-angle-right"></i>Application Designning</a>
            <div class="sub-menu-2">
              <ul>
                <li><a href="#">Web</a></li>
                <li><a href="#">Mobile</a></li>
              </ul>
            </div>
          </li>
          <li><a href="#"><i class="fa fa-angle-right"></i>Techinal Support</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i>Free lance work</a></li>
        </ul>
    </div>
    </li>
    <li><a href="#"><i class="fa fa-edit"></i>Contact Us</a></li>
    <li><a href="#"><i class="fa fa-phone"></i>Sign In</a></li>
  </ul>
</div>
</div>
</body>

</html>